language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - 0.7
  - nightly

matrix:
  allow_failures:
    - julia: nightly

notifications:
  email: false

after_success:
    - julia -e 'cd(Pkg.dir("Quaternions")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
